:root {
    /* Primary, secondary, tertiary */
    --primary-deep-green: hsla(120, 25%, 30%, 1);
    --secondary-earthy-brown: hsla(30, 30%, 20%, 1);
    --tertiary-sky-blue: hsla(210, 68%, 65%, 1);

    /* Bright accents */
    --accent-bright-yellow: hsla(50, 100%, 50%, 1);
    --accent-vivid-red: hsla(0, 80%, 50%, 1);
    --accent-bright-blue: hsla(210, 75%, 55%, 1);
    --accent-orange: hsla(25, 100%, 50%, 1);

    /* Eco-Greens */
    --green-darker: hsla(120, 30%, 25%, 1);
    --green-lighter: hsla(90, 40%, 50%, 1);

    /* Neutrals */
    --background-beige: hsla(40, 25%, 90%, 1);
    --background-gray: hsla(0, 0%, 75%, 1);

    /* Pastels/neutrals */
    --pastel-blue: hsla(200, 60%, 70%, 1);
    --pastel-cream: hsla(50, 100%, 85%, 1);
    --pastel-earth-tone: hsla(28, 30%, 65%, 1);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-beige)
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.primary, .secondary, .tertiary, .accent, .green, .background, .pastel {
    width: 200px;
    height: 200px;
    margin: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border: 1px solid black;
}

.primary {
    background-color: var(--primary-deep-green);
}

.secondary {
    background-color: var(--secondary-earthy-brown);
}

.tertiary {
    background-color: var(--tertiary-sky-blue);
}

.accent-yellow {
    background-color: var(--accent-bright-yellow);
}

.accent-red {
    background-color: var(--accent-vivid-red);
}

.accent-blue {
    background-color: var(--accent-bright-blue);
}

.accent-orange {
    background-color: var(--accent-orange);
}

.green-darker {
    background-color: var(--green-darker);
}

.green-lighter {
    background-color: var(--green-lighter);
}

.background-beige {
    background-color: var(--background-beige);
}

.background-gray {
    background-color: var(--background-gray);
}

.pastel-blue {
    background-color: var(--pastel-blue);
}

.pastel-cream {
    background-color: var(--pastel-cream);
}

.pastel-earth {
    background-color: var(--pastel-earth-tone);
}